In [28]:
import tabula as tb
import pandas as pd

In [36]:
# race
df = tb.read_pdf("../Data/Race/2014-FRA-RAC.pdf", area = (120, 0, 500, 222), columns=[72, 78, 90, 110], pages = "1")[0]
df

Got stderr: Feb 09, 2023 6:12:56 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Feb 09, 2023 6:12:56 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'
Feb 09, 2023 6:12:56 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldItalicMT'
Feb 09, 2023 6:12:56 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-ItalicMT'

    Pos Unnamed: 0 Unnamed: 1 Unnamed: 2           Rider N
0     1        NaN         25         93      Marc MARQUEZ
1     2        NaN         20         46   Valentino ROSSI
2     3        NaN         16         19   Alvaro BAUTISTA
3     4        NaN         13         44     Pol ESPARGARO
4     5        NaN         11         26      Dani PEDROSA
5     6        NaN         10         99     Jorge LORENZO
6     7        NaN          9          6      Stefan BRADL
7     8        NaN          8          4  Andrea DOVIZIOSO
8     9        NaN          7         41   Aleix ESPARGARO
9    10        NaN          6         38     Bradley SMITH
10   11        NaN          5         35     Cal CRUTCHLOW
11   12        NaN          4         45     Scott REDDING
12   13        NaN          3         68   Yonny HERNANDEZ
13   14        NaN          2          7    Hiroshi AOYAMA
14   15        NaN          1         17     Karel ABRAHAM
15   16        NaN        NaN         70   Michael LAVERTY
16   17        NaN        NaN          5     Colin EDWARDS
17   18        NaN        NaN         23       Broc PARKES
18   19        NaN        NaN         63    Mike DI MEGLIO
19  Not          c        las      sifie                 d
20  NaN        NaN        NaN         29    Andrea IANNONE
21  NaN        NaN        NaN          8    Hector BARBERA
22  Not         fi        nis        hed         first lap
23  NaN        NaN        NaN         69      Nicky HAYDEN
24    R          a       ce c      ondit          ion: Dry
25  NaN        NaN        NaN        NaN         Fastest L

In [37]:
# remove all instances of 'Pos' that are not an integer

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19    Not
20    NaN
21    NaN
22    Not
23    NaN
24      R
25    NaN
Name: Pos, dtype: object

In [4]:
filename = "../Data/FP/2013-AME-FP4.pdf"

In [34]:
tb.read_pdf(filename, area = (150, 0, 730, 250), pages = "1")[0]

Got stderr: Feb 09, 2023 6:10:02 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-ItalicMT'
Feb 09, 2023 6:10:02 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Feb 09, 2023 6:10:02 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'Arial-BoldMT'

   Lap Lap Time                 T1          T2 T3
0           1st    93 Marc MARQUEZ       Repsol H
1           NaN             Runs=2   Total laps=1
2             1    2'35.705 59.846  33.384 32.567
3             2    2'07.150 35.689  31.435 31.390
4             3    2'04.783 35.263  30.210 30.824
5             4    2'05.254 35.407  30.300 30.924
6             5    2'04.355 34.977  30.357 30.585
7             6    2'04.182 35.071  29.930 30.735
8             7  2'13.741 P 37.175  32.292 32.355
9             8  7'38.066 5'58.255  33.123 36.095
10            9    2'04.969 35.547  30.006 31.077
11           10    2'03.779 35.007  29.930 30.541
12           11    2'15.841 34.890  29.954 38.327
13           12    2'03.866 35.202  29.833 30.515
14          2nd    26 Dani PEDROSA       Repsol H
15          NaN             Runs=2   Total laps=1
16            1  3'17.632 1'39.442  33.743 34.319
17            2    2'09.056 37.134  31.196 31.710
18            3    2'07.034 36.164  30.787 31.287
19            4    2'05.764 35.606  30.511 30.979
20            5  2'08.707 P 35.659  30.512 31.018
21            6  6'45.756 5'08.116  33.000 34.401
22            7    2'07.358 36.316  30.598 31.370
23            8    2'04.622 35.486  30.096 30.642
24            9    2'04.333 35.198  30.170 30.560
25           10    2'04.284 35.282  30.000 30.705
26           11    2'18.259 38.120  33.788 34.568
27           12    2'04.183 35.619  29.974 30.470
28          3rd    99Jorge LORENZO         Yamaha
29          NaN             Runs=3   Total laps=1
30            1    2'12.796 40.623  31.595 31.840
31            2    2'05.507 35.482  30.499 31.071
32            3    2'05.335 35.415  30.392 30.891
33            4    2'05.232 35.196  30.367 31.168
34            5  2'07.527 P 35.204  30.407 31.841
35            6  9'21.497 7'50.546  30.887 31.391
36            7  2'08.573 P 36.356  30.798 31.418
37            8  5'21.861 3'52.006  30.524 30.919
38            9    2'04.680 34.926  30.405 30.912
39           10    2'05.298 35.389  30.790 30.738
40          NaN                NaN        Monster
41          4th   35 Cal CRUTCHLOW            NaN
42          NaN             Runs=2   Total laps=1
43            1    2'25.270 48.945  33.223 33.400
44            2    2'09.441 36.606  31.166 31.749
45            3    2'10.436 35.781  31.020 31.084
46            4    2'10.263 39.734  31.017 31.148
47            5    2'05.523 35.395  30.406 31.223
48            6    2'05.351 35.307  30.424 31.259